/*
	Name: Mohammedfaiq Shaikh
	File: style.css
	Date: 20 June 2024
	This file contains all the css classes for the index.html file
*/

html {
  font-family: Montserrat;
}

/* Your CSS below here */
.cool-box{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  background-color: red;
  color: white;
  font-weight: bold;
}